  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      	  <div th:if="${session.usuario != null}">
				<h6 class="navbar-brand" style="display:flex; flex-flow:column wrap; color:white; margin-left:30px;" th:text="${session.usuario}"></h6>
		  </div>
		  <div th:if="${session.usuario == null}">
				<h6 class="navbar-brand" style="display:flex; flex-flow:column wrap; color:white"></h6>
  		  </div>
  		  <a class="navbar-brand" th:href="@{/cerrarSession}" th:if="${session.usuario != null}"><button type="button" class="btn btn-danger">CERRAR SESION</button></a>
          <a class="navbar-brand" href="/">Examen de Desarrollo entorno servidor.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          		<span class="navbar-toggler-icon"></span>
          </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link toggle" id="menu" href="#menu_izq">Menu</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
          <form class="d-flex" th:object="${nombre}" th:action="@{/oferta/buscar}" method="GET">
            <input class="form-control me-sm-2" type="text" placeholder="Busca tu oferta" id="{nombre}" th:value="${nombre}" name="busqueda">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
        </div>
    </nav>
  </div>