<!doctype html>
<html lang="es">
<head>
<title>Pagina Index</title>
<!-- Required meta tags -->
<meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css" />
  <link href="css/fontawesome/css/all.css" rel="stylesheet">
  <link rel="stylesheet" disabled="" href="https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css">
  <title>Examen</title>
  <author></author>
  <meta name="author" content="Alumno Alumno">
  <script src="js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
   <script src="js/javascript_profesor.js"></script>
  <!--<script src="javascript_alumno.js"></script>-->

</head>

<body>
<!-- Inicio Navbar-->
  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      	  <div th:if="${session.usuario != null}">
				<h6 class="navbar-brand" style="display:flex; flex-flow:column wrap; color:white; margin-left:30px;" th:text="${session.usuario}"></h6>
		  </div>
		  <div th:if="${session.usuario == null}">
				<h6 class="navbar-brand" style="display:flex; flex-flow:column wrap; color:white"></h6>
  		  </div>
  		  <a th:if="${session.usuario != null}" class="navbar-brand" th:href="@{/cerrarSession}"><button type="button" class="btn btn-danger">CERRAR SESION</button></a>
        <a class="navbar-brand" href="/">Examen de Desarrollo entorno servidor.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
          <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link toggle" id="menu" href="#menu_izq">Menu</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
          <form class="d-flex" th:object="${nombre}" th:action="@{/oferta/buscar}" method="GET">
            <input class="form-control me-sm-2" type="text" placeholder="Busca tu oferta" id="{nombre}" th:value="${nombre}" name="busqueda">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
        </div>
      </div>
    </nav>

  </div>
<!-- Cierre Navbar-->
<!-- Apertura contenedor principal-->
	<div id="selector" class="main_wrapper">
		<!-- Apertura menu izquierdo-->
	<aside id="menu_izq" class="toggle toggle-content"  th:if="${session.usuario != null}">
  	</aside>
	<aside id="menu_izq" class="toggle toggle-content"  th:if="${session.usuario == null}">
			<h2>Añadir Oferta</h2>
			<form action="/oferta/crear" method="POST">
				<div class="form-group">
					<label class="col-form-label" for="inputNombre">Producto</label> 
					<input type="text" class="form-control" name="nombre" placeholder="Nombre del producto" id="inputNombre">
				</div>
				<div class="form-group">
					<label for="selectProducto">Selecciona Priodad</label> 
					<select  name="prioridad" class="form-select" id="selectProducto" size="3">
						<option>baja</option>
						<option>media</option>
						<option>alta</option>
					</select>
				</div>
				<div class="form-group">
					<label class="col-form-label" for="inputGramos">Precio</label> 
					<input type="text"  name="precio" class="form-control" placeholder="Cuanto cuesta" id="inputPrecio">
				</div>
				<div class="form-group">
					<label class="form-label" for="inputEnlace">Hipevinculo</label> 
					<input type="text"  name="hiperenlace" value="https://" class="form-control" id="inputEnlace">
				</div>
				<div class="d-grid gap-2">
	
					<div class="form-group">
						<label for="inputDescripcion">Descripcion</label>
						<textarea  name="descripcion" class="form-control" id="inputDescripcion" rows="3"></textarea>
					</div>
	
					<div class="d-grid gap-2">
						<button class="btn btn-lg btn-primary" id="enviar" value="enviar" type="submit">ENVIAR</button>
					</div>
				</div>
			</form>
	</aside>
		<!-- Cierre menu izquierdo-->



<!-- Apertura contenedor de la tabla-->
		<section class="principal">
		<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nombre</th>
						<th scope="col">Precio</th>
						<th scope="col">Info</th>
						<th scope="col">Borrar</th>
					</tr>
				</thead>
				<tbody id="idbody">
					
				</tbody>
		</table>

<!-- __________________________________________________________________________________________________________________________________-->





			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseOne"
							aria-expanded="true" aria-controls="collapseOne">
							Introduce tu nombre</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show"
						aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<form th:action="@{/crearUsuario}" th:method="GET">
								<div class="form-group">
									<label class="col-form-label" for="inputDefault">Usuario </label> 
									<input type="text" class="form-control" th:name="usuario" placeholder="Escribe tu nombre" id="inputUsuario">
								</div>
								<br>
								<button type="submit" class="btn btn-primary">Guardar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			
			
			
			
</div>

<!-- Cierre contenedor de la tabla-->

<!-- Apertura menu izquierdo-->
    <div id="selector" class="main_wrapper">

      <aside id="menu_dch" class="">
  
        <h2> Filtrar Ofertas</h2>

        <fieldset class="form-group">
          <legend>Prioridad</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="prioridadBaja" value="Prioridad Baja" checked="">
              Priodad baja
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="prioridadMedia" value="Prioridad Media">
              Prioridad Media
            </label>
          </div>
          <div class="form-check disabled">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="prioridadAlta" value="Prioridad Alta" disabled="">
              Prioridad Alta
            </label>
          </div>
        </fieldset>
        <button type="button" id="filtrarPorPrioridad" class="btn btn-lg btn-primary">Filtrar por Prioridad</button>
      </aside>
  </div>
<!-- Cierre menu izquierdo-->

<!-- Apertura Ventana modal-->
  <div id="modal" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" id="cerrar-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="cerrar-modal" class="btn btn-secondary btn-close" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Cierre Ventana modal-->
		   <script src="js/Ofertas.js"></script>
</body>
</html>