<!doctype html>
<html lang="es">
<head>
<title>Pagina Index</title>
<!-- Required meta tags -->
<meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css" />
  <link href="css/fontawesome/css/all.css" rel="stylesheet">
  <link rel="stylesheet" disabled="" href="https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css">
  <title>Examen</title>
  <author></author>
  <meta name="author" content="Alumno Alumno">
  <script src="js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/javascript_profesor.js"></script>
  <!--<script src="javascript_alumno.js"></script>-->

<style >

	body {background-color: rgba(60, 130, 211, 0.726);}
	
	.centro{width: 50%;
	min-width: 600px;
	height: 50%;
	min-height: 600px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 15px;
	padding: 20px;
	}
</style>

</head>

<body>
<!-- Inicio Navbar-->
  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Examen de Desarrollo entorno servidor.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
          <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
          <form class="d-flex" th:object="${titulo}" th:action="@{/oferta/buscar}" method="GET">
            <input class="form-control me-sm-2" type="text" placeholder="Busca tu oferta" id="{titulo}" th:value="${titulo}" name="busqueda">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form> 
        </div>
      </div>
    </nav>
  </div>
<!-- Cierre Navbar-->
    <section class="centro" id="{id}" name="{titulo}" th:each="oferta: ${ListaOfertasInfo}">
     <center><h2>Oferta</h2></center>
		<div class="info">
					ID: <h3 th:text="${oferta.id}"></h3>
					NOMBRE: <h3 th:text="${oferta.nombre}"></h3>
					FECHA_PUBLICACION: <h3 th:text="${oferta.fecha_publicacion}"></h3>
					PRIORIDAD:<h3 th:text="${oferta.prioridad}"></h3>
					DESCRIPCION:<h3 th:text="${oferta.descripcion}"></h3>
					HIPERENLACE:<h3 th:text="${oferta.hiperenlace}"></h3>
				    PRECIO:<h3 th:text="${oferta.precio}+'€'"></h3>
					
	   </div>
    </section>
    
    
    
</body>
</html>